.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  gap: 20px;
  justify-content: center;
}

.carousel-inner img {
  width: 100%;
  max-width: 1000px;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}